$primary: #1f5da3;
$secondary: #d41131;

* {
    margin: 0;
    border: none;
    box-sizing: border-box; 
}

body{
    font-size: 1.3vw;
    font-family: Roboto, sans-serif;
}

ul {
    list-style-type: none;
}